.profile-header {
  height: 400px;
  width: 100%;
  position: relative;
  top: 15px;
  margin-top: 100px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1d6ff;
  background-image: url("/images/cubes.png");
}

.profile-img {
  margin-top: 20px;
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  .profile-header {
    width: 60vmin;
    height: 60vmin;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }

  .profile-img img {
    max-width: 150px;
    max-height: 150px;
  }
}
