nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  /* position: relative; */
  z-index: 2;
}

nav span {
  font-family: 'Bungee', cursive;
}

.post-icon {
  text-align: center;
  color: red;
}