.new-tweet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* background: url("/images/cubes.png"); */
}

.error-msg {
  display: none;
  font-size: 18px;
  font-weight: 600;
  color: red;
}

.error-msg::before,
.error-msg::after {
  font-family: FontAwesome;
  content: "\f071";
  color: red;
  padding: 0 10px;
}

.tweet-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 3px solid #555149;
}

.tweet-box label {
  color: #555149;
  font-weight: bold;
  text-align: start;
}

textarea {
  background-color: transparent;
  border-color: transparent;
  outline: none;
  resize: none;
  overflow: hidden;
  height: 30px;
  width: 500px;
}

button {
  background-color: #4056a1;
  border-color: #4056a1;
  box-shadow: none;
  color: #ffffff;
  padding: 5px 10px;
}

.new-tweet-footer {
  font-family: "Bungee", cursive;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.red {
  color: red;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) {
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  section {
    width: 66.7%;
    float: right;
  }

  .new-tweet-container {
    margin-top: 80px;
  }
}
