article {
  border: 3px solid #555149;
  padding: 10px;
  width: 100%;
  margin: 10px 10px;
}
article:hover {
  box-shadow: 5px 7px rgb(64, 86, 161, 0.5);
}
.tweet-header {
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #555149;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 20px;
}

.icons i {
  color: #4056a1;
  padding: 0 10px;
}

.footer-icons:hover {
  color: #df9a3e;
}
